<app-navbar></app-navbar>
<div>
  <span style="color:rgb(8, 8, 8);font-weight:bold;font-style: normal;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 20px;">
    Request Credential:</span>
</div>

<mat-card id="card" style="text-align: center;">
	<mat-card-content>
	<mat-form-field>
			<input matInput placeholder="First Name" [(ngModel)]="first_name">
		</mat-form-field><br/>

		<mat-form-field>
			<input matInput placeholder="Last Name" [(ngModel)]="last_name">
    </mat-form-field><br/>
    
    
		<mat-form-field>
			<input matInput placeholder="DOB" [(ngModel)]="dob">
    </mat-form-field><br/>
    
    
		<mat-form-field>
			<input matInput placeholder="Citizen ID" [(ngModel)]="citizen_id">
    </mat-form-field><br/>
    
    
		<mat-form-field>
			<input matInput placeholder="Tested Location" [(ngModel)]="tested_location">
    </mat-form-field><br/>
    
    
		<mat-form-field>
			<input matInput placeholder="Tested By" [(ngModel)]="tested_by">
    </mat-form-field><br/>
    
    
		<mat-form-field>
			<input matInput placeholder="Tested Date" [(ngModel)]="tested_date">
    </mat-form-field><br/>
    
		<mat-form-field>
			<input matInput placeholder="Covid Status" [(ngModel)]="covid_status">
    </mat-form-field><br/>
    
    <button mat-flat-button (click)="requestInvitationn()" routerLink="/credential">Submit</button>


  </mat-card-content>
 
  <app-footer></app-footer>