.mat-flat-button  {
    margin-left: 570px;
    background-color: yellow;
    color: black;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
}
.mat-card {
    height:100%;
    background-color: rgb(231, 230, 230);
}