h2 {
    font-size: 20px;
    font-style: bold;
    text-align: left;
    margin-right: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

.mat-flat-button {
    background-color: yellow;
    color: black;
}
.container {
    background-color: lightgrey;
    width: 50%;
}
.mat-card {
    width:50%;
    background-color: lightgray;
    margin-left: 350px;
    margin-bottom: 100px;
    border: 3px solid #000
   

}